php_flag display_errors On
php_value auto_prepend_file "/var/www/PHP-GIT/include.php"

RewriteEngine On
RewriteRule (.*).js $1.js [L]
RewriteRule (.*).css $1.css [L]
RewriteRule ^.*$ index.php [NC,L]
