<?php
use Lib\Tool\Router as Router;
Router::get()->match('','users#index');
Router::get()->resource('users');
Router::get()->match('points/',     'points#index',  array('method' => 'GET'));
Router::get()->match('points/',     'points#create', array('method' => 'POST'));
Router::get()->match('points/:date/', 'points#show', array('method' => 'GET'));
Router::get()->match('points/:date/:endDate/', 'points#show', array('method' => 'GET'));
